<%inherit file="base_app.html" />

<%block name="content">
<p>Catalog Product List Page</p>

<table>
<th>Category</th>
<th>Type</th>
<th>Name</th>
<th>Price</th>
<th>Quantity</th>
<th>Actions</th>
%for p in products:
    <!--${ dir(p) }-->
    <tr>
        <td>${ p.category.name }</td>
        <td>${ p.polymorphic_ctype.name }</td>
        <td>${ p.name }</td>
        <td>${ p.price }</td>
        <td>${ p.get_quantity() }</td>
        <td><a href="/manager/edit/${ p.id }">Edit</a> |
            <a href="/manager/delete/${ p.id }">Delete</a></td>
    </tr>
%endfor
</table>
<br>
<a href="/manager/edit" role="button" class="btn btn-primary">Create Product</a>
</%block>
